<div class="main-container">
  <div class="chats-panel">
    <div class="chats-title neon-text-shadow h4">Your chats here</div>
    <div class="chats-container sc2" *ngIf="chats ; else noChats">
      <div class="chat" *ngFor="let chat of chats" (click)="chooseChat(chat)">
        <div class="chat-sender-name">@{{chat.name}}</div>
        <div class="chat-last-message" *ngIf="chat.messages[0]; else noLastMessage">
          {{chat.messages[0]?.text}}
        </div>
        <ng-template #noLastMessage>
          <div class="chat-last-message">
            Send first message to your friend
          </div>
        </ng-template>
      </div>
    </div>
    <ng-template #noChats>
      <div class="chats-container">
        <p class="chats-empty">There is nothing here</p>
      </div>
    </ng-template>
  </div>
  <div class="messenger-main-panel">
    <div class="current-chat-title neon-text-shadow h4">{{currentChat.name}}</div>
    <div class="messages-container" *ngIf="currentChat; else noCurrentChat">
      <div class="{{message.senderId == userId ? 'my-messages': 'other-messages'}}" *ngFor="let message of currentChat.messages">
        {{message.text}}
      </div>
    </div>
    <ng-template #noCurrentChat>
      <div class="messages-container">
        <p class="chat-empty">Choose chat on the left or add new on the right</p>
      </div>
    </ng-template>
    <div class="input-message-container">
      <div class="input-message-box"><textarea class="input-message" [(ngModel)]="currentChat.draftMessage"></textarea></div>
      <button class="send-button label-neon-button" (click)="sendMessage()">Send</button>
    </div>
  </div>
  <div class="right-nav-panel">
    <ul>
      <li><ion-icon name="person-outline"></ion-icon>      <div class="right-nav-menu-text h6">My account</div></li>
      <li><ion-icon name="chatbubble-outline"></ion-icon>  <div class="right-nav-menu-text h6">New chat</div></li>
      <li><ion-icon name="settings-outline"></ion-icon>    <div class="right-nav-menu-text h6">Setting</div></li>
      <li (click)="Logout()"><ion-icon name="log-out-outline"></ion-icon> <div class="right-nav-menu-text h6">Logout</div></li>
    </ul>
  </div>
</div>




<ul style="background-color:black; display:none; color:greenyellow">
  <li *ngFor="let message of messages">{{message.text}}</li>
</ul>
<button (click)="Logout()" style="display:none">Log out</button>
<button (click)="getMessages()" style="display:none">Get messages</button>
<button (click)="sendMessage()" style="display:none">Send messages</button>
